body {
  font-family: Arial, sans-serif;
}

.orderlistcontainer {
  width: 80%;
  margin: 0 auto;
}

.orderlisttable {
  width: 60%;
  border-collapse: collapse;
  margin: 2.5rem 0; /* 20px */
  left: 21.875rem; /* 350px */
  top: 6.25rem; /* 100px */
  position: absolute;
}

.orderlisttable th,
.orderlisttable td {
  border: 0.0625 solid #ddd;
  padding: 0.5rem; /* 8px */
  text-align: center;
}

.orderlisttable th {
  background-color: #c80036;
  color: white;
}

.orderlistimage {
  width: 3.125rem; /* 50px */
  height: 3.125rem; /* 50px */
}

.orderlistbutton {
  padding: 0.3125rem 0.625rem; /* 5px 10px */
  margin: 0 0.3125rem; /* 0 5px */
  border: none;
  border-radius: 0.25rem; /* 4px */
  cursor: pointer;
}

.orderlistbutton:hover {
  opacity: 0.8;
}

.orderlistbutton:focus {
  outline: none;
}

.orderlistbuttonaccept {
  background-color: #4caf50;
  color: white;
}

.orderlistbuttondefuse {
  background-color: #f44336;
  color: white;
}
