.projectcolors {
  color: #c1ece4;
  color: #ff9eaa;
  color: #ffd0d0;
  color: #3aa6b9;
}
.other {
  color: #ffcbcb;
  color: #ffb1b1;
  color: #1679ab;
  color: #102c57;
}
.another {
  color: #3aa6b9;
  color: #3aa6b9;
  color: #3aa6b9;
  color: #3aa6b9;
}
.lastchoice {
  color: #3aa6b9;
  color: #3aa6b9;
  color: #3aa6b9;
  color: #3aa6b9;
}
